* {
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background-color: #f1f3ff;
  margin: 0;
  padding: 0;
}

.navigation {
  float: right;
  margin-top: -30px;
}

.bcr {
  display: none;
}
#logo {
  margin-top: 10px;
  margin-left: 100px;
  width: 100px;
  height: 30px;
}
nav ul {
  display: flex;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 14px 56px;
  text-decoration: none;
  list-style: none;
}
nav ul li {
  padding: 10px 30px;
}
.main-container {
  max-width: 1700px;
  margin: auto;
  padding: 20px;
}
.main-content {
  height: 50vh;
  padding: 20px;
}
h1 {
  font-style: bold;
  padding-top: 50px;
  padding-left: 80px;
  font-size: 40px;
}
.main-content p {
  line-height: 30px;
  padding-bottom: 20px;
  padding-left: 80px;
}
.btn4 {
  font-weight: 500;
  border-radius: 1px;
  padding: 10px 12px 10px 12px;
  text-decoration: none;
  color: #ffffff;
  background-color: #5cb85f;
}
.btn3 {
  padding: 10px 10px 10px 10px;
  text-decoration: none;
  color: #ffffff;
  background-color: #5cb85f;
  margin-left: 80px;
}
.btn2 {
  padding: 10px 10px 10px 10px;
  text-decoration: none;
  color: #ffffff;
  background-color: #5cb85f;
}
.responsive {
  width: 100%;
  margin-top: -340px;
  display: flex;
  justify-content: end;
}
.responsive img {
  margin-right: -30px;
  max-width: 700px;
  height: auto;
}
/*our-section*/
.our-service {
  display: flex;
  background-color: #fff;
}
.container {
  display: flex;
}
.card7 {
  display: flex;
  align-items: end;
  justify-content: end;
}
.card4 {
  margin-left: 150px;
}

.card-body4 h2 {
  margin-left: -40px;
  padding-bottom: 20px;
}
.card-body4 p {
  margin-left: -40px;
}
h2 {
  font-size: 30px;
  padding-top: 100px;
  margin-left: 100px;
}
.our-service img {
  max-width: 450px;
  height: auto;
}
.our-service .card-img-top {
  padding-right: 60px;
}
.our-service p {
  margin-top: 300px;
  float: right;
}
.card2 h2 {
  margin-left: 80px;
  margin-top: 10px;
  display: flex;
  justify-content: start;
  text-align: start;
}
.card2 p {
  margin-left: 80px;
  margin-top: 10px;
  display: flex;
  justify-content: start;
  text-align: start;
}
.card2 ul li {
  padding-top: 10px;
  padding-left: 45px;
  list-style: none;
}
.card2 ul li a {
  padding-left: 20px;
}
.card5 {
  border: solid;
  padding-left: 10px;
  margin-left: 25px;
  border-color: #d0d0d0;
  padding-right: 20px;
  margin-top: 250px;
  padding-bottom: 20px;
}
.card5 h5 {
  font-weight: 700;
  padding-bottom: 20px;
}

.card5 img {
  padding-left: 40px;
  padding-bottom: 20px;
}

.card-body3 {
  padding-left: 20px;
}
/*our-section*/
/*why-us*/
.why-us {
  margin-top: -200px;
  display: flex;
  justify-content: center;
}
.why-us h2 {
  margin: auto;
}
.why-us img {
  margin-left: -20px;
  margin-top: 30px;
  height: auto;
  max-width: 80px;
}
/*why-us*/
/*testimonial*/

.owl-nav {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}
.owl-prev {
  border-radius: 9999px;
  margin-right: 15px;
  transition: 0.6s ease-in-out;
}
.owl-prev:hover {
  background-color: #5cb85f;
  transition: 0.6s ease-in-out;
}
.owl-next {
  border-radius: 9999px;
  margin-left: 15px;
}
.owl-next:hover {
  background-color: #5cb85f;
  transition: 0.6s ease-in-out;
}
.owl-prev img {
  width: 50px;
}
.owl-next img {
  width: 50px;
  transform: rotate(180deg);
}
.item {
  border-radius: 20px;
  margin-right: 50px;
  padding: 60px 60px 60px 60px;
}
/*testimonial*/
/*getting started*/
.gettingstart {
  padding-top: 50px;
  display: flex;
  justify-content: center;
  text-align: center;
}
.gettingstart h5 {
  padding-top: 50px;
  font-size: px;
  font-weight: 700;
}
.gettingstart p {
  padding-bottom: 50px;
}
.card6 {
  padding-top: 35px;
  padding-bottom: 35px;
  color: #fff;
  background-color: #0d28a6;
  border-radius: 10px;
}
.testimonial h2 {
  font-weight: 700;
  margin: 0;
}

/*getting started*/

@media (max-width: 660px) {
  .responsive {
    margin-top: 50px;
    width: 100%;
    height: auto;
  }
  .responsive img {
    width: 100%;
    max-width: 450px;
  }
  .main-content {
    padding: 10px;
  }
  .space {
    display: none;
  }
  .our-service {
    width: 100%;
    display: block;
    margin-top: 300px;
  }
  .our-service h2 {
    padding-left: 20px;
    padding-right: 20px;
  }
  .our-service p {
    padding-left: 20px;
    padding-right: 20px;
  }
  .our-service img {
    max-width: 720px;
    height: auto;
  }
  .card-img-top {
    padding-left: 50px;
    margin-top: 50px;
    max-width: 350px;
  }
  .why-us h2 {
    font-size: 30px;
    text-align: center;
    display: flex;
  }
  .card2 p {
    margin-left: 10px;
    margin-top: 10px;
    display: flex;
    justify-content: start;
    text-align: start;
  }
  .card4 {
    margin-top: -50px;
    margin-left: 10px;
  }
  .card-body4 h2 {
    display: table;
    margin: auto;
  }
  .card-body4 p {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    display: table;
    margin: auto;
  }
  .card-body2 h2 {
    display: table;
    margin: auto;
  }
  .card-body2 p {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 30px;
    display: table;
    margin: auto;
  }
  .card2 ul li {
    list-style: none;
    margin-left: -70px;
  }
  .card2 ul li a {
    margin-left: 0;
  }
  .why-us {
    display: table;
    margin: auto;
  }
  .card5 {
    padding: 0;
    margin: 10px 10px 10px 10px;
  }
  .card-text {
    margin-left: 0;
  }

  * {
    margin: 0;
    padding: 0;
  }

  a,
  button {
    cursor: pointer;
  }

  nav {
    position: absolute;
    top: 100px;
    right: 50px;
    width: 250px;
  }
  nav ul {
    display: table-cell;
  }

  .bcr {
    font-weight: 700;
    display: flex;
  }
  #logo {
    margin-top: -0px;
    margin-left: 0px;
  }

  .navigation {
    position: fixed;
    right: -500px;
    width: 200px;
    height: 100%;
    background-color: #ffffff;
    transition: 0.5s;
  }

  .navigation ul li {
    width: 350px;
    color: #000000;
    text-align: left;
    text-transform: uppercase;
    list-style-type: none;
    font-size: 15px;
    padding: 20px 80px;
  }

  .hamburger,
  .bar {
    position: fixed;
  }

  .hamburger {
    display: block;
    top: 5%;
    left: 90%;
    width: 30px;
    height: 30px;
    transform: translateY(-50%);
    border: 0;
    background: 0 0;
  }

  .bar {
    top: 3px;
    background: #000;
    width: 100%;
    height: 4px;
    transition: all 0.3s ease-in;
  }

  #bar2 {
    top: 11px;
  }

  #bar3 {
    top: 19px;
  }

  .navigation.active {
    right: 0;
  }

  .hamburger.open #bar1 {
    background-color: #000000;
    transform: rotate(45deg) translate(6px, 5px);
  }

  .hamburger.open #bar2 {
    background-color: transparent;
  }

  .hamburger.open #bar3 {
    background-color: #000000;
    transform: rotate(-45deg) translate(6px, -5px);
  }
  .main-content,
  h1 {
    padding-bottom: 30px;
  }
  .main-content,
  p {
    margin-left: -45px;
    padding-bottom: 30px;
  }

  h1 {
    margin-left: -45px;
    padding-top: 50px;
    font-size: 40px;
  }
  .btn {
    margin-left: 30px;
  }
  .btn3 {
    margin-left: 30px;
  }
  .item {
    width: 340px;
    height: 400px;
    border-radius: 20px;
    padding-left: 50px;
  }
  .rate-img {
    padding-top: 100px;
  }
  .text-review {
    width: 260px;
    margin-left: -80px;
    font-size: 14px;
  }
  .author-img {
    margin-top: -220px;
    margin-left: 60px;
  }
  .author {
    font-weight: 700;
  }
  .desktest {
    padding-left: 40px;
  }
  .gettingstart {
    padding-left: 50px;
    padding-right: 50px;
    height: 550px;
  }
  .gettingstart h5 {
    font-size: 30px;
    font-weight: 700;
  }
  .gettingstart p {
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 13px;
    font-weight: 200;
  }
  .FAQ {
    align-items: center;
    justify-content: center;
    display: table-cell;
  }
}
